<app-header></app-header>
<div class="home">
  <header class="header">
    <h1>Bienvenue sur EDucation</h1>
    <p>Votre plateforme d'apprentissage en ligne.</p>
    <button class="cta-button">Commencer</button>
  </header>

  <section class="course-list">
    <h2>Nos Cours Populaires</h2>
    <div class="course-cards">
      <div *ngFor="let course of courses" class="course-card">
        <img [src]="course.image" [alt]="course.title" />
        <h3>{{ course.title }}</h3>
        <p>{{ course.description }}</p>
      </div>
    </div>
  </section>
</div>
  <app-footer></app-footer>